<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="webConnectionString" connectionString="Data Source=.\SqlExpress;Initial Catalog=web;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="webConnectionString2" connectionString="Data Source=DESKTOP-HP9CAAB\SQLEXPRESS;Initial Catalog=web;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="webConnectionString3" connectionString="Data Source=DESKTOP-HP9CAAB\SQLEXPRESS;Initial Catalog=web;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="minhtri1511ConnectionString1" connectionString="Data Source=DESKTOP-HP9CAAB\SQLEXPRESS;Initial Catalog=minhtri1511;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DatabaseConnectionString1" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <pages theme="Theme 1"/>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5"  />
    </system.web>

</configuration>
